@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
$color1: #4b21ff;
$color2: #272727;
$color3: #fefefe;
$color4: #a9a9a9;
$color5: #bdbdbd;

* {
  box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  height: 100%;
}

.home {
  .logo {
    background: white;
    height: 100px;
    width: 200px;
  }
  background: navy;

  #info-section {
    padding: 54px;
    width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    .info-box {
      padding: 54px;
      position: absolute;
      bottom: 0;
      left: 0;

      h4 {
        font-size: 1.2rem;
        color: $color3;
        margin: 0.7rem 0;
      }

      p {
        font-size: 0.9rem;
        font-weight: 300;
        color: $color3;
        margin: 0.2rem 0 1.6rem;
      }
    }
  }

  #content-area {
    margin-left: 35%;
    width: 65%;
    height: 100%;
    // padding: 0 0 0 25%;
    background: white;

    .img-container {
      display: inline-block;
      width: 30%;
      position: relative;
      .user-img {
        background: url("https://scontent.find1-1.fna.fbcdn.net/v/t1.0-9/381064_296828163684509_1045687270_n.jpg?_nc_cat=102&_nc_ohc=lnAogreV7-oAX_-JE4O&_nc_ht=scontent.find1-1.fna&oh=fb82c3421547cf51e5a3144b2f01b726&oe=5E9112CF") no-repeat center center;
        background-size: cover;
        height: 550px;
        width: 450px;
        position: absolute;
        left: -200px;
        top: 200px;
      }
    }

    .profile-section {
      vertical-align: top;
      display: inline-block;
      .profile {

      }
    }
  }
}
